@charset "UTF-8";

body {
	font-family: arial, sans-serif;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: lighter;
        background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.container {
	width: available;
	margin-left: auto;
	margin-right: auto;
	height: 1500px;
}

header {
	width: 100%;
	background-color: black;
	border-bottom: 1px solid #E6BC54;
        height: 80px;
}

header h3 {
	color: white;
	font-weight: bold;
	text-align: left;
	margin-left: 25px;
        margin-top: 30px;
	letter-spacing: 2px;
	font-family: serif;
        float: left;
        width: 50%;
}

header p {
	text-align: right;
	margin-right: 25px;
        margin-top: 30px;
        font-weight: lighter;
        color: #2073A8;
        float: right;
}

.fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
}

.hero_header {
	color: #000000;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	font-weight: bold;
	font-size: xx-large;
}

.hero {
	
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
}

.tagline {
	text-align: center;
	color: #000000;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.text_column {
	width: 70%;
	text-align: justify;
	line-height: 25px;
	display: inline-block;
        color: white;
        margin-top: 30px;
        margin-bottom: 60px;
        margin-right: auto;
        margin-left: auto;
        font-weight: normal;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 75px 15px 75px 15px;
        padding: 20px;
}

.text_column2 {
	width: 50%;
	text-align: left;
	line-height: 25px;
	display: inline-block;
        color: white;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: 100px;
        margin-left: 40px;
        font-weight: normal;
        vertical-align: middle;
}

.stats {
	color: #2073A8;
	margin-bottom: 5px;
}

.thumbnail {
	width: 32%;
	text-align: center;
	float: left;
	margin-top: 35px;
}

.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}

.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}

.banner {
	background-color: #909090;
	border-bottom: 1px solid #E6BC54;
	border-top: 1px solid #E6BC54;
        border-left: 1px solid #E6BC54;
	border-right: 1px solid #E6BC54;
        border-radius: 15px;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        display: inline-block;
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
}

.banner_title {
        color: #2073A8;
        letter-spacing: 4px;
        vertical-align: top;
        width: 100%;
        text-align: center;
        margin-top: 60px;
}

.parallax {
	color: #2073A8;
	text-align: right;
	letter-spacing: 4px;
        display: inline-block;
        width: 200px;
        vertical-align: top;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: 40px;
        margin-left: auto;
        float: right;
}

.parallax p {
        color: white;
        font-weight: lighter;
        letter-spacing: 0px;
}

footer {
	background-color: #909090;
	padding-bottom: 80px;
        padding-top: 80px;
        border-top: 1px solid #E6BC54;
        border-bottom: 1px solid #E6BC54;
        text-align: center;
        border-left: 1px solid #E6BC54;
	border-right: 1px solid #E6BC54;
        border-radius: 15px;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        background: rgba(0, 0, 0, 0.4);
}

.footer_column {
        vertical-align: middle;
	width: 280px;
        height: 300px;
	text-align: center;
	display: inline-block;
        margin: 10px;
        font-weight: normal;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.7);
}

.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}

footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 25px;
	margin-left: 10px;
	margin-right: 10px;
        color: white;
}

.button {
	width: 200px;
        margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #E6BC54;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #2073A8;
	color: #FFFFFF;
	cursor: pointer;
        text-decoration: none;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
        width: 33%;
        display: inline-block;
        vertical-align: middle;
}
.footer_banner {
	background-color: #000000;
	border-top: 1px solid #E6BC54;
        width: 100%;
}
        
.hidden {
	display: none;
}

.spacer {
    width: 100%;
    height: 80px;
}

a {
    color: #E6BC54;
    text-decoration: inherit;
}

.fa {
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #909090;
    color: white;
    vertical-align: middle;
}

.fa:hover {
    opacity: 0.7;
}

/* Mobile 
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets 
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
*/